{% extends 'base.html' %}
{%block content%}

{%if msg%}
  <div class="alert alert-success" role="alert">
    {{msg}}
  </div>
  {%endif%}
  <div class="container" style="color: white;">
    <h1 style="text-align: center;">Add Image</h1>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
            {{form.as_p}}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <script>
    // Get the input element by its ID
    const timeInput = document.getElementById('id_time');
  
    // Set the value of the input to the current time
    timeInput.value = new Date().toLocaleTimeString([], { hour12: false });
  </script>
{%endblock%}