{% extends 'base.html' %}
{%load static%}
{%block content%}
  {%if msg%}
  <div class="alert alert-success" role="alert">
    {{msg}}
  </div>
  {%endif%}
  <div class="container">
    <br>
      <form class="d-flex tm-search-form">
        {{myfilter.form.name}}<span style="margin: 5px;"> </span> {{myfilter.form.place}}<span style="margin: 5px;"> </span>{{myfilter.form.date}}<span style="margin: 5px;"> </span>
          <span style="margin: 10px;"></span>
          <button class="btn btn-outline-success tm-search-btn" type="submit">
              <i class="fas fa-search">Search</i>
          </button>
      </form>
  </div>
  <br>
    <form method="post" action="{% url 'delete_images' %}">
      {% csrf_token %}
      <table class="table" border="2">
            <tr style="color: white;">
              <th style="text-align: center;vertical-align: middle;">Sr.No.</th>
              <th><a href="/display-images?attribute=name" style="color: yellow;">Name</a></th>
              <th><a href="/display-images?attribute=time"  style="color: yellow;">Time</a></th>
              <th><a href="/display-images?attribute=date" style="color: yellow;">Date</a></th>
              <th><a href="/display-images?attribute=place" style="color: yellow;">Place</a></th>
              <th>Image</th>
              <th>Update</th>
              <th style="text-align: center;vertical-align:middle;"><input type="checkbox" class="select-all" style="height: 15px;width: 15px;"></th>
            </tr>
            {%if page%}
            {% for each in page %}
              <tr style="color: white;">
                <td style="text-align: center;vertical-align: middle;">{{srno|add:forloop.counter}}</td>
                <td>{{ each.name }} <small style="font-size: x-small;">({{each.pk}})</small></td>
                <td>{{ each.time}}</td>
                <td>{{ each.date|date:'d M Y' }}</td>
                <td>{{ each.place }}</td>
                <td><a href="{{ each.image.url }}"><img src="{{ each.image.url }}" alt="{{ each.name }}" class="img-thumbnail" width="100px" height="60px"></a></td>
                <td><a href="{% url 'update_image' each.pk %}" class="btn btn-primary">Update</a></td>
                <td style="text-align: center;vertical-align:middle;"><input type="checkbox" class="select-item" name="selected_items" value="{{ each.pk }}" style="height: 15px;width: 15px;"></td>
              </tr>
            {% endfor %}
              <tr>
                  <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
                  <td style="text-align: center;vertical-align:middle;"><input type=submit class="btn btn-danger" value="Delete"></td>
              </tr>
        </table>
      </form>
      <div class="pagination">
        {% if page.has_previous %}
        <p style="padding-right: 6in;"></p><a href="?page={{ page.previous_page_number }}">previous <small style="padding-left: 5px;"></small></a>
        {%else%}
                <p style="padding-right: 7in;"></p>
        {% endif %}
      
        {% for num in page.paginator.page_range %}
        {% if page.number == num %}
        <span class="current-page" id="current_page" style="color: white;">{{ num }}</span>
        {% else %}
        <p style="padding-right: 5px;"></p>
        <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}
      
        {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}"> <small style="padding-right: 5px;"></small>  next</a>
        {% endif %}
      </div>
      <br><br>
  </div>
      {%else%}
      <h1>No data Found</h1>
      {%endif%}
<script>
          // Get the header checkbox element
  const selectAllCheckbox = document.querySelector('.select-all');

  // Add a click event listener to the header checkbox
  selectAllCheckbox.addEventListener('click', () => {
    // Get all the checkboxes in the table body
    const itemCheckboxes = document.querySelectorAll('.select-item');

    // Toggle the checked state of each checkbox to match that of the header checkbox
    itemCheckboxes.forEach((checkbox) => {
      checkbox.checked = selectAllCheckbox.checked;
    });
  });
</script>
{%endblock%}